body,
html
{
	margin: 0;
	padding: 0;
	color: #000;
	background: #fff;
	line-height: 140%;
	font-family: helvetica,arial,freesans,clean,sans-serif;
	font-size: 100%;
}

#wrapper {
	width: 800px;
	margin: 0 auto;
}

.fineprint, .fineprint a, .fineprint a:hover, .fineprint a:visited
{
	font-size: 0.95em;
	color: #999;
}

#header
{
	color: #88898C;
	border-bottom: 1px solid #ccc;
	letter-spacing: -1px;
	font-size: 1.1em;
}

#nav {
	font-weight: bold;
	padding: 10px 0 10px 0;
}

#nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#nav li {
	display: inline;
	margin: 0;
	padding: 0;
	margin-right: 16px;
	border: none;
}

ul {
	margin-left: 0;
	margin-bottom: 0;
	padding: 2px 15px 5px;
}

ul li
{
	padding-bottom: 2px;
	padding-top: 3px;
}

code {
	display: block;
	border: 1px solid #999;
	padding: 4px;
	margin-left: 15px;
	font-family: monaco;
}

#main {
	float: left;
	width: 550px;
	padding: 12px;
}

#sidebar
{
	float: right;
	width: 200px;
	padding: 10px;
	border-width: 0 0 0 1px;
	border-color: #ccc;
	border-style: solid;
}

#footer {
	clear: both;
	padding: 5px 10px;
}

h2, h2 a, h2 a:hover, h2 a:visited {
	margin:0 0 1em;
	color: #777;
}

a, a:hover, a:visited {
	color: #4183C4;
	text-decoration: none;
}

#nav a, #nav a:visited
{
	color: #D35959;
	text-decoration: none;
}

#nav a:hover
{
	color: #8C3B39;
	text-decoration: none;
}