//301 Redirect Entire Directory
RedirectMatch 301 /(.*) /documents/$1

//Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

//Prevent directory listings
Options All -Indexes