---
layout: default
title: micmath projects
---

{% if site.posts == empty %}
    <p>Sorry but there are no posts here yet.</p>
{% else %}
	
	{% for post in site.posts limit:5 %}
		<article>
			<header>
				<h2><a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a></h2>
		
				<p class="meta">
					<strong>Published:</strong> <time>{{ post.date | date_to_string }}</time>
					{% if post.categories.size > 0 %}<br><strong>Tagged:</strong>
						{% for category in post.categories: %}
						<a href="/tags.html#{{ category }}">{{ category }}</a>{% unless forloop.last %},{% endunless %}
						{% endfor %}
					{% endif %}
					{% unless post.excerpt == empty %}<br><strong>Summary:</strong> {{ post.excerpt }}{% endunless %}
				</p>
			</header>
		
			{{ post.content }}
		</article>
		
	{% endfor %}
{% endif %}