<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	{{#keywords}}<meta name="keywords" content="{{keywords}}">{{/keywords}}
    {{#description}}<meta name="description" content="{{description}}">{{/description}}
    
	<title>How To JSDoc{{#title}}: {{title}}{{/title}}</title>
	<link rel="stylesheet" href="../lib/prettify.css" />
	<script src="../lib/prettify.js"></script>
	
	<style>
	pre {
	    display: block;
	    border: 1px solid #999;
	    margin: 12px;
	    padding: 8px;
	}
	.example dt { font-weight: bold; }
	</style>
</head>

<body>
	<header>
	    {{#title}}<h1>{{title}}</h1>{{/title}}
	</header>
	
	<nav>
	</nav>