<!DOCTYPE html>
<html lang="en">
	<head>
		<title>micmath projects | {{ page.title }}</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<link rel="stylesheet" type="text/css" media="screen" href="/css/default.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="/css/syntax.css" />
	
	</head>

	<body>
		<div id="wrapper">
			<div id="nav">
				<ul>
					<li><a href="/">Recent</a></li>
					<li><a href="/tags.html">Tags</a></li>
					<li><a href="/archive.html">Archive</a></li>
					<li><a href="/atom.xml">Feed</a></li>
				</ul>
			</div>
			
			<div id="header">
				<h1><a href="/">micmath projects</a></h1>
			</div>
			
			<div id="main">
				{{ content }}
			</div>
			
			<div id="sidebar">
				
				{% unless site.tagsUsed == empty %}
				<div id="Tags">
					<h2>Tags</h2>
					
					<ul>{% for tag in site.tagsUsed %}
					<li><a href="/tags.html#{{ tag }}">{{ tag }}</a></li>
					{% endfor %}</ul>
				</div>
				{% endunless %}
				
			</div>
			
			<div id="footer" class="fineprint">
				Copyright &copy;2010 <a href="mailto:micmath+jsdoc@gmail.com">Michael Mathews</a>: <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.0/uk/">Some rights reserved</a>.
			</div>
		</div>
	</body>
</html>